{% extends "index.html" %}

{% block content %}
    <h1>Marcus Otterstad</h1>
    <h3>Social media</h3>
    <div class="row">
        <div class="column">
            <a href="https://www.instagram.com/marcusotterstad/"><img src="static/insta.png"></a>
        </div>
        <div class="column">
            <a href="https://www.facebook.com/marcus.otterstad/"><img src="static/face.png"></a>
        </div>
        <div class="column">
            <a href="https://no.linkedin.com/in/marcus-otterstad-743512167"><img src="static/linkedin.png"></a>
        </div>
        <div class="column">
            <a href="https://www.youtube.com/channel/UCqNN9ki6fvfx2IP6lyBXDkQ"><img src="static/youtube.png"></a>
        </div>
    </div>
{% endblock %}