{% extends "index.html" %}

{% block content %}
    <h1>Powerlifting PRs</h1>
    <br><br>
    <div class="row">
        <div class="column1">
            <h1>Squat</h1>
        </div>
        <div class="column1">
            <h1>Bench</h1>
        </div>
        <div class="column1">
            <h1>Deadlift</h1>
        </div>
        <div class="column1">
            <h1>130kg</h1>
        </div>
        <div class="column1">
            <h1>100kg</h1>
        </div>
        <div class="column1">
            <h1>160kg</h1>
        </div>
    </div>
    <h1>Total: 390kg</h1>
{% endblock %}